<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/d482941f-16a6-4d75-93bf-2c87a2d4f41a/resourceGroups/rg-we-containerappsjobs-poc/providers/Microsoft.ContainerRegistry/registries/crcaj</ResourceId>
    <ResourceName>crcaj</ResourceName>
    <ResourceGroup>rg-we-containerappsjobs-poc</ResourceGroup>
    <Subscription>NL.B2B.Innovation</Subscription>
    <RegistryUrl>https://crcaj.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <_TargetId>AzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>